<div id="post--{{post.id}}" class="post-preview-container">

    <div 
        class="post--preview" 
        hx-trigger="click"
        hx-get="/api/posts/{{post.id}}/"
        hx-swap="none"
        data-url="/posts/{{post.id}}"
        >
        <strong>{{post.title}}</strong>
        <small>{{post.body | truncatewords:20}}...</small>
    </div>

    <div class="controls">

        <small>Edited 9 minutes ago ago</small>
   
        <div
            hx-trigger="click"
            hx-delete="/api/posts/{{post.id}}/" 
            hx-swap="delete"
            hx-target="#post--{{post.id}}"
            >
            {% include 'icons/trash.html' %}
        </div>

    </div>
</div>